.ls-v5 .ls-nav-prev {
  left: 50%!important;
  margin-left: -510px;
  }
.ls-v5 .ls-nav-next {
  right: 50%!important;
  margin-right: -510px;
  }
.ls-v5 .ls-playvideo, .ls-v5 .ls-nav-sides, .ls-v5 .ls-bottom-slidebuttons a, .ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next, .ls-v5 .ls-nav-start, .ls-v5 .ls-nav-stop, .ls-v5 .ls-fullscreen, .ls-v5 .ls-loading-container {
  background-image: url(images/v5-skin.png)!important;
  }
.ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next {
  width: 45px !important;
  }
