#footer-content {
  padding-bottom:0px;
  }
#footer-content-container {
  font-family:'PT Sans', sans-serif;
  }
.footer-quote {
  color:#5d8ecb !important;
  font-size:0.938em; /* 15/16 */
  display:block;
  height:4px;
  }
  .footer-quote a{
	color:#5d8ecb !important;
	text-decoration:none;
	}
	.footer-quote a:hover{
	  color:#709bd1!important;
	  }
.contact-info{
  display:block;
  }
.contact-info a, #footer-bar-container a{
  text-decoration:none;
  }
.fineprint{
  font-family:'PT Sans Narrow', sans-serif;
  font-size:0.938em; /* 15/16 */
  margin-top:76px;
  }
#footer-bar-inner-wrapper {
  font-size:0.75em; /* 12/16 */
  font-family:'PT Sans', sans-serif;
  font-weight:400;
  }
#footer-bar-container {
  font-family:'PT Sans', sans-serif;
  }
.footer-logo{
  margin-bottom:20px;
  }
.footer-widget-item:first-child div.textwidget:first-child{
  margin-left:25px;
  }
#scrollUp {
  background: #5d8ecb;
  }
#footer-content {
  text-align: center;
  font-size: 0;
}
.footer-column {
  // border: 1px solid salmon;
  display: inline-block;
  float: none !important;
  margin: 0 2.5%;
  vertical-align: top;
  width: 40%;
  font-size: 1rem;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}
.footer-logo {
  width: 220px;
}
.fine-print, .legal-print {
  margin: 20px 0 0;
  font-size: .8rem;
  letter-spacing: .025em;
}
.legal-print {margin-top: 12px;}

.footer-sitemap {
  #menu-main-nav {
    display: inline-block;
    margin: 0;
    text-align: left;
    ul, ol, li {margin:0 !important;padding:0 !important;}
    // li {margin:}
  }
  .menu-item a {
    display: inline-block;
    font-size: .8rem;
    text-decoration: none;
    width: 100%;
    &:hover {
      color: #8dafda !important;
    }
  }

}
// .testimonial-wrapper {display: none !important;}
