#sidebar-wrapper h4 {
font-family:'PT Sans', sans-serif !important;
color:#5d8ecb !important;
font-weight:400;
}
.grey-bg {
background-color:#eef3fa !important;
}
div.widget-item div.uxb-col ul li a{
font-family:'PT Sans', sans-serif !important;
color:#666c71 !important;
}
div.widget-item div.uxb-col ul li span.post-date{
font-weight:700;
display:block;
margin-top:5px;
}
