body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.bold{font-weight:700;}
.italic{font-style:italic;}
.gray-text{color:#666c71;}

.body-wrapper {
  overflow: auto;
}

body{
	background-image: url("images/background-swirl.jpg") !important;
	background-size: cover;
}

body.home #intro {
   h1 { display: none; }
}
